################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Python/PythonLearning/.vs/PythonLearning/v15/.suo
/src/Python/PythonLearning/.vs/loop/v15/.suo
